/* background grey: #C4C4C4 */
/* background: rgba(196, 196, 196, .25); */
* {
  box-sizing: border-box;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
  ".    nav-flex      .";
}

.header {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
  ".    header-content      .";
}


.body-content {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
  ".    section-1      ."
  ".    section-1-text   ."
  ".    section-2      ."
  ".    section-2-text      ."
  ".    section-3      ."
  ".    section-3-text      ."
  ".    section-3-list      .";
}

.footer {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
  ".    footer-flex      .";
}

.nav-flex {
  grid-area: nav-flex;
}

.header-content {
  grid-area: header-content;
}

.section-1 {
  grid-area: section-1;
}

.section-1-text {
  grid-area: section-1-text;
}

.section-2 {
  grid-area: section-2;
}

.section-2-text {
  grid-area: section-2-text;
}

.section-3 {
  grid-area: section-3;
}

.section-3-text {
  grid-area: section-3-text;
}

.section-3-list {
  grid-area: section-3-list;
  list-style: disc outside;
  margin: 0 0 2rem 1.5rem;
  padding-left: 1.5rem;
  text-align: left;
  margin: auto;
}

.section-3-list li {
  text-align: left;
  line-height: 1.6em;
}

.footer-flex {
  grid-area: footer-flex;
  margin-bottom: 0;
}

p, h4 {
  margin: 0;
}

p {
  margin: auto;
  padding: 1.5rem 0;
}

h4 {
  padding: 2rem 0;
}

.about-image {
  margin: 6rem auto 4rem auto;
  max-width: 25rem;
}


/* Elements unique to About page (about.html) */

.about-image {
  display: block;
  margin: 5rem auto;
}

.about-rocketship {
  display: block;
  background: url(/images/Rocketship-up.svg) no-repeat left;
  background-size: contain;
  height: 20rem;
  margin: 5rem auto;
  width: 20rem;
}

.about-rocketship:hover {
  background-image: url(/images/Rocketship-smile.svg);
}

.red-text {
  color: #E53345;
  line-height: 3rem;
  margin: 2rem auto;
  text-transform: capitalize;
}

.about-subtitle {
  padding-top: 2rem;
  padding-bottom: 1rem;
}


@media screen and (min-width: 768px) {


  .navbar {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
    ".    nav-flex      .";
  }

  .header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
    ".    header-content      .";
  }


  .body-content {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
    ".    section-1      ."
    ".    section-1-text   ."
    ".    section-2      ."
    ".    section-2-text      ."
    ".    section-3      ."
    ".    section-3-text      ."
    ".    section-3-list      .";
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
    ".    footer-flex      .";
  }

  .about-rocketship {
    height: 25rem;
    width: 25rem;
  }

}

@media (min-width: 1025px) {

  .navbar {
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-areas:
    ".     nav-flex  nav-flex    .";
  }

  .header {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-areas:
    ".    header-content  header-content     .";
  }

  .body-content {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-areas:
    ".    section-1   section-1    ."
    ".    section-1-text section-1-text   ."
    ".    section-2  section-2      ."
    ".    section-2-text   section-2-text    ."
    ".    section-3   section-3    ."
    ".    section-3-text   section-3-text     ."
    ".    section-3-list   section-3-list    .";
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-areas:
    ".   footer-flex   footer-flex   .";
  }

  .about-rocketship {
    height: 30rem;
    width: 30rem;
  }

}

/* @media (min-width: 1400px) {

} */
