/* red: #E53345 */
/* dark red: #B22836 */
/* background grey: #e7e7e7 */


* {
  box-sizing: border-box;
}

/* Typography */

* {
  box-sizing: border-box;
}

h1, p, li, a {
  color: #444444;
  font-family: "Raleway";
}

html {
  font-size: 10px;
  margin: auto;
}

body {
  margin: auto;
  width: 80vw;
  height: 100vh;
  margin: auto;
}

p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding: 2rem 0;
  margin: auto;
  text-align: center;
}

h1 {
  color: #444444;
  font-family: "Raleway";
  font-size: 2.24rem;
  font-weight: 700;
  line-height: 3rem;
  padding: 3rem 0;
  text-align: center;
}

li {
  font-size: 1.6rem;
  padding: 2rem 0rem;
  text-align: left;
}

a {
  text-decoration: underline;
  color: #E53345;
  font-weight: 700;
}

a:hover {
  color: #B22836
}

.project-list {
  padding-top: 2rem;
}

.footer {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 80vw;
  margin: auto;
}

/* -------- For Tablets -------- */

@media screen and (min-width: 768px) {

  body, h1, .footer {
    width: 60vw;
  }

  h1 {
    font-size: 3rem;
  }

  li {
    text-align: center;
  }

  p {
    max-width: 50rem;
  }

}
 
/* -------- For Small (Laptop) Computer Screens -------- */

@media (min-width: 1025px) {
}

/* -------- For Wide Computer Screens -------- */

@media (min-width: 1400px) {
}
