/* red: #E53345 */
/* dark red: #B22836 */
/* background grey: #C4C4C4 */
/* background: rgba(196, 196, 196, .25); */
* {
  box-sizing: border-box;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
  ".    nav-flex      .";
}

.portfolio-summary {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
  ".    summary-text    .";
}

.portfolio {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
  ".    portfolio-images       .";
}

.footer {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
  ".   footer-flex      .";
}

/* ********** Different grid-areas ********** */
.navbar {
  grid-area: navbar;
  z-index: 1;
}

.nav-flex {
  grid-area: nav-flex;
}

.summary-text {
  grid-area: summary-text;
}

.portfolio-images {
  grid-area: portfolio-images;
}

.footer-flex {
  grid-area: footer-flex;
}

.footer {
  margin-bottom: 0;
}

/* ********** Elements unique to illustration portfolios ********** */

.summary-text {
  margin: auto;
  text-align: left;
}

.text {
  margin: auto;
}

.img-title {
  font-size: 1.6rem;
}

.img-desc {
  font-size:
}

.portfolio-images {
  display: block;
}

.portfolio-thumbs li {
  display: flex;
  margin: 2rem auto;
  max-width: 80rem;
  /* width: 100%; */

}

.container {
  justify-content: center;
  margin: auto;
  position: relative;
  text-align: center;
  width: 100%;
}

.image {
  opacity: 1;
  display: flex;
  margin: 0 auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.img-bg-red {
  background-color: #E53345;
  width: auto;
  max-width: 80vw;
  height: auto;
  margin: 0 auto;
  max-height: 50rem;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  margin: auto;
  text-align: center; */
}

.column:hover .image {
  opacity: 0.15;
}

.column:hover .img-title {
  opacity: 1;
}

.img-title {
  bottom: -20rem;
  color: #fff;
  display: inline;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.8rem;

  padding: .2rem;
  /* transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  margin: auto;
  text-align: center;
  vertical-align: middle; */
}

/* ********** Specific Elements ********** */

/* Red div boxes behind images */
/* .square {
  text-align: center;
  margin: 0;
  max-width: 26.8rem;
  width: 100%;
} */

/* ********** Lightbox ********** */
/* .row > .column {
  padding: 0 .5rem;
} */

.row:after {
  content: "";
  display: table;
  clear: both;
}



/* Modal background */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #E53345;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #E53345;
  margin: 0 auto;
  padding: 0;
  width: auto;
  max-width: 80rem;
  height: auto;
  /* max-height: 50vh; */
}

/* Close button */
.close {
  color: white;
  position: absolute;
  top: 1rem;
  right: 2.5rem;
  font-size: 3.5rem;
  font-weight: bold;
}

.close:hover,.close:focus {
  background-color: #fff;
  color: #E53345;
  text-decoration: none;
  cursor: pointer;
  padding: .5rem;
  position: absolute;
  transition: 0.5s ease;
  border-radius: .3rem;
  width: auto;
  user-select: none;
  -webkit-user-select: none;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 0%;
  width: auto;
  padding: 1rem;
  margin-top: -5rem;
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  transition: 0.5s ease;
  border-radius: 0 .3rem .3rem 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a red background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(255, 255, 255, 1);
  color: #E53345;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #fff;
  font-family: "Raleway";
  font-size: 1.2rem;
  padding: 0 1.2rem;
}


/* Caption text */
.caption-container {
  text-align: left;
  background-color: #E53345;
  padding: 0 2rem;
  color: #fff;
}

img.demo {
  opacity: 0.6;
}

.active, .demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* My changes */

.row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* .column-middle {
  margin: 0 1rem;
} */

/* .column img{
  display: block;
  margin: 2rem;
  max-width: 30rem;
  width: 100%;
} */

@media screen and (min-width: 768px) {

  .navbar {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
    ".    nav-flex      .";
  }

  .portfolio-summary {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
    ".    summary-text    .";
  }

  .portfolio {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
    ".    portfolio-images       .";
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
    ".   footer-flex      .";
  }

  /* Create two equal columns next to eachother */
  .column {
    /* display: flex; */
    height: 45%;
    margin: auto;
    width: 45%;
  }

  .square {
    margin: auto;
  }

  .img-title {
    font-size: 2rem;
  }

  .square-text {
    padding: 0 5rem;
  }

  /* .img-desc {
    color: #fff;
    font-size: 1.6rem;
    margin: auto;
    padding: 3rem;
    text-align: center;
    width: 60%;
  } */
}

@media (min-width: 1025px) {
  .navbar {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas:
    ".    nav-flex      .";
  }

  .portfolio-summary {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas:
    ".    summary-text    .";
  }

  .portfolio {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas:
    ".    portfolio-images       .";
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas:
    ".   footer-flex      .";
  }
  /* Create three equal columns next to eachother */
  .column {
    width: 33%;
  }


}
