/* red: #E53345 */
/* dark red: #B22836 */
/* background grey: #C4C4C4 */
/* background: rgba(196, 196, 196, .25); */
* {
  box-sizing: border-box;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
  ".    nav-flex      .";
}

.portfolio-summary {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
  ".    summary-text    .";
}

.portfolio {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
  ".    portfolio-images       .";
}

.footer {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
  ".   footer-flex      .";
}

/* ********** Different grid-areas ********** */
.navbar {
  grid-area: navbar;
  z-index: 1;
}

.nav-flex {
  grid-area: nav-flex;
}

.summary-text {
  grid-area: summary-text;
}

.portfolio-images {
  grid-area: portfolio-images;
}

.footer-flex {
  grid-area: footer-flex;
}

.footer {
  margin-bottom: 0;
}

/* ********** Elements unique to illustration portfolios ********** */

.summary-text {
  margin: auto;
  text-align: left;
}

.text {
  margin: auto;
}

.img-title, h4{
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.8rem;
  margin: auto;
  padding: .2rem;
  text-align: center;
}

.img-desc {
  font-size:
}

.portfolio-images {
  display: block;
}

.portfolio-thumbs li {
  display: flex;
  margin: 2rem auto;
  max-width: 80rem;
  /* width: 100%; */

}

.container {
  justify-content: center;
  margin: auto;
  position: relative;
  text-align: center;
  width: 100%;
}

.image {
  opacity: 1;
  display: flex;
  width: auto;
  max-width: 80vw;
  height: auto;
  margin: 0 auto;
  max-height: 50rem;
  transition: .5s ease;
  backface-visibility: hidden;
}

.img-bg-red {
  background-color: #E53345;
  width: auto;
  /* max-width: 80vw; */
  height: auto;
  margin: 0 auto;
  max-height: 50rem;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  margin: auto;
  text-align: center;
  width: 90%;

}

.container:hover .image {
  opacity: 0.15;
}

.container:hover .middle {
  opacity: 1;
}

.img-text {
  opacity: 1;
  margin: auto;
  padding: .2rem 1rem;
  width: 100%;
}

.img-desc {
  color: #fff;
  font-size: 1.6rem;
  margin: auto;
  padding: .2rem;
  text-align: center;
  width: 100%;
}

/* ********** Specific Elements ********** */

/* Red div boxes behind images */
/* .square {
  text-align: center;
  margin: 0;
  max-width: 26.8rem;
  width: 100%;
} */

/* ********** Lightbox ********** */
/* .row > .column {
  padding: 0 .5rem;
} */

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create three equal columns that floats next to eachother */
/* .column {
  float: left;
  width: 33%;
} */

/* Modal background */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #E53345;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #E53345;
  margin: 0 auto;
  padding: 0;
  width: auto;
  height: auto;
  text-align: center;
}

/* Close button */
.close {
  color: white;
  position: absolute;
  top: 1rem;
  right: 2.5rem;
  font-size: 3.5rem;
  font-weight: bold;
}

.close:hover,.close:focus {
  background-color: #fff;
  color: #E53345;
  text-decoration: none;
  cursor: pointer;
  padding: .5rem;
  position: absolute;
  transition: 0.5s ease;
  border-radius: .3rem;
  width: auto;
  user-select: none;
  -webkit-user-select: none;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 0%;
  width: auto;
  padding: 1rem;
  margin-top: -5rem;
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  transition: 0.5s ease;
  border-radius: 0 .3rem .3rem 0;
  user-select: none;
  -webkit-user-select: none;
}

.prev {
  left: 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a red background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(255, 255, 255, 1);
  color: #E53345;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #fff;
  font-family: "Raleway";
  font-size: 1.2rem;
  padding: 0 1.2rem;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: #E53345;
  margin: auto;
  padding: 0 1rem;
  color: #fff;
  width: auto;
}

img.demo {
  opacity: 0.6;
}

.active, .demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* My changes */

.column {
  width: auto;
}

.column img{
  display: block;
  margin: auto;
  max-width: 30rem;
  width: 100%;
}

.img-desc {
  display: none;
}

.square-text {
  padding: 0 .5rem;
  max-width: 30rem;
}

#caption {
  color: #fff;
  display: inline-block;
  padding: 0;
  text-align: center;
}

h4 {
  color: #fff;
  font-weight: 700;
  text-align: center;
}

.demo {
  display: none;
  margin: auto;
}

@media screen and (min-width: 768px) {

  .navbar {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
    ".    nav-flex      .";
  }

  .portfolio-summary {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
    ".    summary-text    .";
  }

  .portfolio {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
    ".    portfolio-images       .";
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
    ".   footer-flex      .";
  }

  .column img{
    display: block;
    max-width: 60vw;
    width: auto;
  }

  .modal-content {
    position: relative;
    background-color: #E53345;
    margin: 0 auto;
    padding: 0;
    width: auto;
    max-width: 60vw;
    text-align: center;
  }

  .mySlides {
    height: 100%;
    margin: auto;
    max-width: 60vw;
    width: auto;
  }

  .mySlides img {
    height: auto;
    margin: 2rem auto;
    max-height: 100%;
    max-width: 60vw;
    width: auto;
  }

  .square {
    margin: 0;
  }

  .img-title, h4 {
    font-size: 2rem;
  }

  .img-desc {
    display: block;
    padding: 0 1rem;
    max-width: 90%;
  }

  .square-text {
    padding: 0 1rem;
    max-width: 40rem;
  }

  .img-text p {
    margin: auto;
  }

}

@media (min-width: 1025px) {
  .navbar {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas:
    ".    nav-flex      .";
  }

  .portfolio-summary {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas:
    ".    summary-text    .";
  }

  .portfolio {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas:
    ".    portfolio-images       .";
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas:
    ".   footer-flex      .";
  }

  /* .column img{
    max-width: 90rem;
    width: auto;
  } */

  .modal {
    padding-top: 2rem;
  }

  .modal-content {
    width: auto;
    /* max-width: 80rem; */
    max-height: 50rem;
  }

  /* Next & previous buttons */
  .prev, .next {
    top: 50vh;
  }

  /* Position the "next button" to the right */
  .next {
    right: -5rem;
  }

  .prev {
    left: -5rem;
  }



}
