/* red: #E53345 */
/* dark red: #B22836 */
/* background grey: #C4C4C4 */
/* background: rgba(196, 196, 196, .25); */
* {
  box-sizing: border-box;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
  ".    nav-flex      .";
}

.intro-section {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
  ".    self-intro    .";
}

.main-body {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
  ".     cat-design   ."
  ".    cat-illus       .";
}

.footer {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
  ".   footer-flex      .";
}


/* ********** Different grid-areas ********** */
.navbar {
  grid-area: navbar;
  z-index: 1;
}

.nav-flex {
  grid-area: nav-flex;
}

.self-intro {
  grid-area: self-intro;
}

.cat-design {
  grid-area: cat-design;
}

.cat-illus {
  grid-area: cat-illus;
}

.footer-flex {
  grid-area: footer-flex;
}

.footer {
  margin-bottom: 0;
}

/* Elements unique to Homepage (index.html) */

.self-intro-text {
  font-size: 1.9rem;
  margin: 7rem auto 0 auto;
  max-width: 40rem;
  text-transform: none;
}

.section-title {
  font-size: 3.2rem;
}

.bg-robot {
  background-image: url("/images/Robot-red.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 8rem 27rem;
  overflow: visible;
}

#design-section {
  margin-top: 30rem;
}

#illustration-section {
  margin-top: 10rem;
}

.portfolio-category li {
  display: block;
  margin: 0 auto;
  max-width: 40rem;
}

li.hide, div.hide {
  display: none;
}



.container {
  position: relative;
  /* width: 50%; */
}

.image {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #E53345 ;
}

.container:hover .overlay {
  opacity: 1;
}

.thumb-text {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  line-height: 2.5rem;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.image2 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image2 {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.thumb-text {
  background-color: #E53345;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 2rem;
  padding: 2rem;
}


@media screen and (min-width: 768px) {

  .navbar {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
    ".    nav-flex      .";
  }

  .intro-section {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
    ".    self-intro    .";
  }

  .main-body {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
    ".     cat-design   ."
    ".    cat-illus       .";
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
    ".   footer-flex      .";
  }

  .self-intro-text {
    font-size: 3rem;
    margin: -25rem auto 0 auto;
    max-width: 90rem;
    text-align: center;
  }

  .bg-robot {
    background-image: url("/images/Robot-red.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    height: 100%;
    margin: 35rem 0 1rem 0;
    overflow: visible;
  }

  .section-title {
    text-align: left;
  }

  .portfolio-thumbs {
    display: grid;
    grid-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: auto;
    justify-content: flex-start;
    margin: 0 auto;
  }
}

@media (min-width: 1025px) {

  .navbar {
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-areas:
    ".     nav-flex  nav-flex    .";
  }

  .intro-section {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-areas:
    ".    self-intro  self-intro  .";
  }

  .main-body {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-areas:
    ".     cat-design  .  ."
    ".    cat-illus    .   .";
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-areas:
    ".   footer-flex   footer-flex   .";
  }

  .self-intro-text {
    font-size: 5rem;
    margin: -35rem auto 0 auto;
    max-width: 100rem;
    text-align: center;
  }

  .bg-robot {
    background-image: url("/images/Robot-red.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    height: 100%;
    margin-top: 50rem;
    overflow: visible;
  }

  .section-title {
    text-align: left;
  }

  .portfolio-thumbs {
    display: grid;
    grid-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: auto;
    justify-content: flex-start;
    margin: 0 auto;
  }


 /* Creating a flex display for when there are more thumbnails */

  /* .blank-thumb {
    height: 350px;
    weight: 350px;
  }

 .portfolio-thumbs li {
   flex-grow: 20;
   max-width: 100%;
 } */

 /* .portfolio-thumbs {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: start:
 } */

 /* img, .thumbnail, .portfolio-thumbs li, .thumbnail a {
    margin: 1rem auto 1rem 0;
    height: 80%;
    padding: 0;
    width: 80%;
    max-width: 80%;
  } */
}



/* @media (min-width: 1400px) {

  .portfolio-thumbs {
    display: grid;
    grid-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
  }
} */
