/* red: #E53345 */
/* dark red: #B22836 */

/* Typography */

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, li, figcaption {
  color: #444444;
  font-family: "Raleway";
  text-align: center;
}

html {
  font-size: 10px;
  margin: auto;
}

body {
  margin: auto;
  min-width: 32px;
}

p {
  font-size: 1.6rem;
  line-height: 1.6em;
  max-width: 60rem;
  padding: 2rem 0;
  text-align: left;
}

h1 {
  font-size: 4.5rem;
  font-weight: 900;
  margin: 10rem auto 2rem auto;
}

h2 {
  font-size: 3.2em;
  font-weight: 700;
  padding: 5rem 0;
  text-transform: uppercase;
}

h3 {
  font-size: 2.24em;
  font-weight: 700;
  margin: 3rem 0 1rem 0;
  text-transform: uppercase;
}

h4 {
  font-size: 1.8rem;
  /* margin-top: -.5rem; */
}

h5 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 2rem;
  padding: 2rem;
}

h6 {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 2rem auto 0rem auto;
  text-align: center;
  text-transform: uppercase;
}

li {
  font-size: 1.6rem;
}

p a, figcaption a {
  color: #E53345;
  text-decoration: none;
}

p a, figcaption a:link {
  color: #E53345;
}

p a, figcaption a:hover {
  color: #B22836;
}

/* p a:visited {
  color: #65353A;
} */

ul {
  list-style-type: none;
  margin: 0 0 3rem 0;
  padding: 0;
}

figcaption {
  font-size: 1.6rem;
  margin-top: -1.5rem;
  margin-bottom: 2rem;
}

.align-center {
  margin: 0 auto;
  text-align: center;
}

.phase-title {
  color: #fff;
  padding: 2rem 0;
}

.subtitle {
  color: #B22836;
  /* font-size: 1.6rem; */
  font-weight: 700;
  /* text-transform: uppercase; */
}

.usability-change-title {

  font-size: 1.8rem;
  margin: 0 auto;
  padding-bottom: 0;
  /* text-transform: uppercase; */

}

.usability-change {
  color: #B22836;
  /* font-size: 1.8rem; */
  font-weight: 400;
  margin-top: 1rem;
  padding-bottom: 0;
  padding-top: 0;
  text-transform: uppercase;
}

.screens-title {
  font-size: 1.8rem;
}

.conclusion-title {
  font-weight: 700;
  margin-top: 2rem;
}

/* *************** Images *************** */

.half-width {
  margin-top: 3rem;
}

.image-border {
  border: 1px solid #c4c4c4;
}

figure {
  margin: 0 auto;
}

img {
  margin: 2rem auto;
  width: 100%;
}


/* *************** Structure *************** */

.title-box {
  background-color: #B22836;
  margin-bottom: 3rem;
  margin-top: 2rem;
  width: 100%;
}

.title-box-p {
  background-color: #B22836;
  margin-top: 4rem;
  width: 100%;
}

.title-box-s {
  background-color: #B22836;
  width: 100%;
}

.case-study-button {
  background: #E53345;
  border: .3rem solid rgba(0,0,0,0);
  border-radius: 6px;
  color: #ffffff;
  display: flex;
  font-family: "Raleway";
  font-size: 1.6rem;
  font-weight: 700;
  height: 3.6rem;
  justify-content: center;
  margin: 2rem auto 3rem auto;
  padding: 1rem 1rem 2.5rem 1rem;
  /* position: relative; */
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 500ms ease;
  width: 22rem;
}

/* .case-study-button:before {
  content: '';
  transition: all 2s ease;
} */

.case-study-button:hover {
  border: .3rem solid #E53345;
  background: rgba(0,0,0,0);
  color: #E53345;

}

.two-rem-bottom {
  margin-bottom: 2rem;
}

.four-pad-bottom {
  padding-bottom: 4rem;
}

.top-bottom-padding {
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.border-top {
  border-top: 2px solid #B22836;
  margin-top: 2rem;
}

.three-rem-top {
  margin-top: 3rem;
}

.three-rem-top-pad {
  margin-top: 3rem;
}

.minus-2rem-bottom-margin {
  margin-bottom: -2rem;
}

/* *************** Grey Backgrounds***************  */

.grey-bg {
  background: rgba(196, 196, 196, .25);
  width: 100vw;
}

/* *************** Specific Items *************** */

.hidden {
  color: #ffffff;
}

.t-b-s-extra {
  display:none;
}

.imp-list li{
  font-size: 1.8rem;
  padding: .5rem 0;
}

.roles {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.tools {
  border-top: 2px solid #444;
  padding-top: 3rem;
}

.img-no-top {
  margin-top: 0;
  padding-top: 0;
}

.percentages-box {
  background-color: #fff;
  border: 6px solid #B22836;
  margin: 3em auto;
  max-width: 50rem;
}

.percentages-box h3, .percentages-box h2, .percentages-box h4{
  color: #B22836;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
}

.percentages-box h4 {
  padding-bottom: 2rem;
}

.percentages-box h2 {
  margin: 1.2rem 0 -1rem 0;
  padding: 0rem 0 2rem 0;
}

.title-box-info {
  margin-top: 6rem;
}

.I-want h3, .I-want li {
  color: #B22836;
  text-transform: none;
}

.I-want li {
  font-size: 1.8rem;
  margin: 1rem 0;
}

.usability-list li {
  margin: auto;
  max-width: 60rem;
  padding: 1rem;
  text-align: center;
}

.rale, .merri {
  font-size: 3rem;
  text-transform: none;
}

.merri {
  font-family: "Merriweather";
  padding-bottom: 3rem;
}

.u-test-1-c2-img {
  margin: 0;
  padding: 0;
}

/* *************** User Persona *************** */

.u-persona-section {
  padding-bottom: 4rem;
}

.persona {
  border: 1px solid #B22836;
  height: 100%;
}

.red {
  background-color: #E53345;
}

.white-text {
  color: #fff;
}

.persona-title {
  font-weight: 700;
  padding: 2rem;
  text-transform: uppercase;
}

.motiv-bio {
  font-weight: 700;
  padding: 2rem 2rem .5rem 2rem;
  text-transform: uppercase;
}

.grey {
  background: rgba(196, 196, 196, .25);
  margin: 0;
}

.dark-red {
  background-color: #B22836;
}

.one-pad {
  padding: 1rem;
}

.left-align {
  text-align: left;
}

.red-text {
  color: #E53345;
}

.top {
  margin-top: 1rem;
}

.underline {
  text-decoration: underline;
}

.dark-red-text {
  color: #B22836;
}

.persona li {
  padding: 0 .5rem 1rem .5rem;
}

.persona ul {
  margin: 0;
}

.two-pad {
  padding: 2rem;
}

.persona h3 {
  font-size: 2.6rem;
  font-weight: 700;
  margin: 0;
  padding: 0 0 .5rem 0;
  text-transform: capitalize;
}

.persona h5 {
  margin-top: 0;
  padding: .2rem;
}

.persona p {
  margin: 0;
}

.para {
  padding: 0rem 2rem 2rem 2rem;
}

.persona-photo {
  margin: 0;
  width: 100%;
}

.up-name {
  padding: 2rem;
}

.persona-photo-desktop {
  display: none;
}

/* *************** Navbar *************** */

 .navbar {
  background-color: #ffffff;
  height: 6rem;
  margin: 0 auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.nav-flex {
  border-bottom: 1px solid #444;
  display: flex;
  flex-direction: row;
  height: 6rem;
  width: 100%;
}

.nav-link {
  color: #E53345;
  display: block;
  flex-grow: 1;
  font-size: 1.6rem;
  font-weight: 700;
  margin: 1.5rem auto;
  padding: .3rem;
  text-align: right;
}

.logo-li {
  flex-grow: 10;
  padding-left: 0;
  text-align: left;
}

.logo {
  height: auto;
  margin: 1rem 1rem 1rem 0;
  padding-left: 0;
  width: 4rem;
}

.logo-mark {
  display: flex;
  background: url(/images/Logo-Mark-red.svg) no-repeat left;
  background-size: contain;
  height: 4.2rem;
  margin: .8rem 1rem 0 0;
  width: 4.2rem;
}

.logo-mark:hover {
  background-image: url(/images/Logo-Mark-red-wink.svg);
}

.nav-flex a:link {
  color: #E53345;
  text-decoration: none;
}

.nav-flex a:visited {
  color: #E53345;
}

.nav-flex a:hover {
  /* text-decoration: underline; */
  color: #B22836;
}

.design-link, .illus-link {
  display: none;
}

/* *************** Footer *************** */

.footer-flex {
  align-items: center;
  /* background-color: #ffffff; */
  border-top: 1px solid #444444;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 4rem auto 0 auto;
  width: 100%;
}

.icon {
  flex-grow: 2;
  /* margin: 1rem; */
  padding: 1.1rem;
  width: 5.3rem;
}


/* For Tablets */

@media screen and (min-width: 768px) {

  .design-link, .illus-link {
    display: block;
  }

  .portfolio-link {
    display: none;
  }

  .roles {
    margin-bottom: 3rem;
    margin-top: 0;
    padding-top: 3rem;
  }

  .tools {
    border-left: 2px solid #444;
    border-top: none;
    margin-top: 3rem;
    padding-top: 0;
  }

  .icon {
    flex-grow: 5;
    margin: 2rem;
    padding: 1.2rem;
    width: 5.5rem;
  }

}

/* For Computer Screens */

@media screen and (min-width: 1025px) {

  html {
    font-size: 11px;
  }

  h1 {
    font-size: 6rem;
  }

  p {
    padding: 2rem;
  }

  .text {
    max-width: 60rem;
    /* width: 50rem; */
  }

  .text-center, .I-want.li {
    max-width: 100%;
    text-align: center;
  }

  .title-box {
    background-color: #B22836;
    margin-top: 4rem;
    width: 100%;
  }

  .title-box-s {
    background-color: #fff;
    border: 3px solid #B22836;
    margin-top: 4rem;
  }

  .t-b-s-extra {
    display: block;
  }

  .solution-title {
    color: #B22836;
  }

  .p-s-text {
    padding: 2rem;
  }

  figcaption {
    font-size: 1.4rem;
    margin-top: -1.5rem;
  }

  .align-center-desktop {
    margin: auto;
    text-align: center;
  }

  .center-margin {
    margin: auto;
  }

  .comp-analysis-text {
    margin-bottom: 3rem;
  }

  .percentages-box {
    margin-top: 6rem;
  }

  .u-research-text, .u-flows-section, .wireframes-section, .proto-1-section,
  .typeface-text, .style-guide-section {
    padding-bottom: 3rem;
  }

  .bryce {
    margin: 0 auto;
    width: 80%;
  }

  .bryce p {
    max-width: 90rem;
  }

  .u-flows-img, .proto-1-img {
    margin-top: 3rem;
  }

  .u-test-1-c1-img, .u-test-1-c2-img, .u-test-1-c3-img, .u-test-1-c4-img, .u-test-2-c1-img, .u-test-2-c2-img, .u-test-2-c3-img, .u-test-2-c4-img  {
    border-top: 2px solid #B22836;
    margin-top: 2rem;
  }

  .typeface-examples, .logo-samples {
    border-top: 2px solid #B22836;
    margin-top: 2rem;
  }

  .conclusion-summary p {
    margin: 0 auto;
    text-align: center;
  }

  .icon {
    flex-grow: 5;
    margin: 2rem;
    padding: 1.2rem;
    width: 5.5rem;
  }

}


@media screen and (min-width: 1140px) {

  .persona {
    border: 1px solid #B22836;
    margin: 0 5rem;
    max-width: 50rem;
  }

  .persona-photo {
    border: none;
    height: 100%;
    margin: 0 0 0 auto;
    width: auto;
    max-width: 20rem;
  }

  .persona-photo img {
    margin: 0;
  }

  .persona-photo-bg {
    background: rgba(196, 196, 196, .25);
    margin: 0 0 0 auto;
    width: auto;
  }
}
