/* background grey: #C4C4C4 */
/* background: rgba(196, 196, 196, .25); */
* {
  box-sizing: border-box;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
  ".              nav-flex          .";
}

.hero {
 display: grid;
 grid-template-columns: 1fr 10fr 1fr;
 grid-template-areas:
 ".             summary        ."
 " hero-img     hero-img      hero-img"
 ".             roles           ."
 ".              tools         ."
 "title-box-p title-box-p title-box-p"
 "extra-grey    problem        extra-grey-2"
 "title-box-s title-box-s title-box-s"
 ".               solution          ."
 "p-s-img      p-s-img     p-s-img";

}

.comp-analysis-section {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:

 "title-box-disc title-box-disc title-box-disc"
 ".           comp-analysis-text     ."
 ".      comp-analysis-img         .";
}

.grey-bg {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
   ".  u-research-text  ."
   ".      percentages   .";
}

.u-persona-section {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
   ".        user-persona-text        ."
   ".              bryce              ."
   "title-box-info  title-box-info  title-box-info"
   " .      u-stories-text       ."
   ".             I-want                  .";
}

.u-flows-section {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
  ".        u-flows               ."
  ".          u-flows-img       .";
}

.wireframes-section {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
  ".         wireframes      ."
  ".         wireframes-img      .";
}

.proto-1-section {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
  ".       proto-1         ."
  ".      proto-1-img     .";
}

.u-test-1-section {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
  ".      u-test-1         ."
  ".      u-test-1-c1     ."
  ".      u-test-1-c1-img     ."
  ".      u-test-1-c2     ."
  ".      u-test-1-c2-img     ."
  ".      u-test-1-c3     ."
  ".      u-test-1-c3-img     ."
  ".      u-test-1-c4     ."
  "title-box-visual-design title-box-visual-design title-box-visual-design"
  ".     mind-map   ."
  ".   mind-map-img   .";
}

.logo-section {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
  ".   logo-1    ."
  ". logo-sketch  ."
  ".  logo-sketch-digital  ."
  ".   logo-samples-text    ."
  ".    logo-samples    ."
  ". typeface-text    ."
  ".   typeface-examples   .";
}

.style-guide-section {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
  ".    style-guide-text   ."
  ".  style-guide-img    .";
}

.hi-fi-1-section {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
  ". hi-fi-1 ."
  "hi-fi-1-desk hi-fi-1-desk hi-fi-1-desk"
  "hi-fi-1-mobile hi-fi-1-mobile hi-fi-1-mobile";
}

.pref-test-section {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
  ". pref-test ."
  ". pref-test-img ."
  "title-box-proto   title-box-proto   title-box-proto"
  ".  hi-fi-2   ."
  "hi-fi-2-desk  hi-fi-2-desk   hi-fi-2-desk"
  "hi-fi-2-mobile   hi-fi-2-mobile  hi-fi-2-mobile";
}

.u-test-2-section {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
  ". u-test-2 ."
  ". u-test-2-c1 ."
  ".  u-test-2-c1-img  ."
  ".  u-test-2-c2   ."
  ".   u-test-2-c2-img  ."
  ".   u-test-2-c3  ."
  ".   u-test-2-c3-img  ."
  ".   u-test-2-c4  ."
  ".   u-test-2-c4-img  .";
}

.final-proto-section {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
  ". final-proto ."
  "final-proto-img  final-proto-img  final-proto-img";
}

.conc-section {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
  "title-box-conclusion  title-box-conclusion  title-box-conclusion"
  ".   conclusion-summary  ."
  ".  what-worked  ."
  ".  what-kind-of  ."
  ".  what-didnt  ."
  "screen-evolution  screen-evolution  screen-evolution"
  ".  conc-1  ."
  ".  conc-2  ."
  ".  final-thoughts  .";
}

.footer {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
  ".    footer-flex   .";
}

/************ Navbar ************/

.nav-flex {
  grid-area: nav-flex;
}

/************ Hero ************/

.summary {
  grid-area: summary;
}

.hero-img {
  grid-area: hero-img;
}

.roles {
  grid-area: roles;
}

.tools {
  grid-area: tools;
}

/************ Problem and Solution ************/

.t-b-p-extra {
  background-color: #B22836;
  grid-area: t-b-p-extra;
  margin-top: 4rem;
}

.title-box-p {
  grid-area: title-box-p;
}

.problem {
  background: rgba(196, 196, 196, .25);
  grid-area: problem;
}

.extra-grey {
  background: rgba(196, 196, 196, .25);
  grid-area: extra-grey;
}

.extra-grey-2 {
  background: rgba(196, 196, 196, .25);
  grid-area: extra-grey-2;
}

.t-b-s-extra {
  background-color: #fff;
  border: 3px solid #B22836;
  border-left: none;
  grid-area: t-b-s-extra;
  margin-top: 4rem;
}

.title-box-s {
  border-right: none;
  grid-area: title-box-s;
}

.solution {
  grid-area: solution;
}

.p-s-img {
  grid-area: p-s-img;
}

/************ Research ************/

.title-box-disc {
  grid-area: title-box-disc;
}

.comp-analysis-text {
  grid-area: comp-analysis-text;
}

.comp-analysis-img {
  grid-area: comp-analysis-img;
}

.u-research-text {
  grid-area: u-research-text;
}

.percentages {
  grid-area: percentages;
}

.user-persona-text {
  grid-area: user-persona-text;
}

.bryce {
  grid-area: bryce;
}

.simon {
  display:none;
  grid-area: simon;
}

/************ Info Architecture ************/

.title-box-info {
  grid-area: title-box-info;
}

.u-stories-text {
  grid-area: u-stories-text;
}

.I-want {
  grid-area: I-want;
}

.u-flows {
  grid-area: u-flows;
}

.u-flows-img {
  grid-area: u-flows-img;
}

.wireframes {
  grid-area: wireframes;
}

.wireframes-img {
  grid-area: wireframes-img;
}

.proto-1 {
  grid-area: proto-1;
}

.proto-1-img {
  grid-area: proto-1-img;
}

.u-test-1 {
  grid-area: u-test-1;
}

.u-test-1-c1 {
  grid-area: u-test-1-c1;
}

.u-test-1-c1-img {
  grid-area: u-test-1-c1-img;
  padding: 0 5rem;
}

.u-test-1-c2 {
  grid-area: u-test-1-c2;
}

.u-test-1-c2-img {
  grid-area: u-test-1-c2-img;
  padding: 0 5rem;
}

.u-test-1-c3 {
  grid-area: u-test-1-c3;
}

.u-test-1-c3-img {
  grid-area: u-test-1-c3-img;
  padding: 0 5rem;
}

.u-test-1-c4 {
  grid-area: u-test-1-c4;
}

/************ Visual Design ************/

.title-box-visual-design {
  grid-area: title-box-visual-design;
}

.mind-map {
  grid-area: mind-map;
}

.mind-map-img {
  grid-area: mind-map-img;
}

.logo-1 {
  grid-area: logo-1;
}

.logo-sketch {
  grid-area: logo-sketch;
}

.logo-sketch-digital {
  grid-area: logo-sketch-digital;
}

.logo-samples-text {
  grid-area: logo-samples-text;
}

.logo-samples {
  grid-area: logo-samples;
}

.typeface-text {
  grid-area: typeface-text;
}

.typeface-examples {
  grid-area: typeface-examples;
}

.style-guide-text {
  grid-area: style-guide-text;
}

.style-guide-img {
  grid-area: style-guide-img;
}

.hi-fi-1 {
  grid-area: hi-fi-1;
}

.hi-fi-1-desk {
  grid-area: hi-fi-1-desk;
}

.hi-fi-1-mobile {
  grid-area: hi-fi-1-mobile;
}

.pref-test {
  grid-area: pref-test;
}

.pref-test-img {
  grid-area: pref-test-img;
}

/************ Prototype / Testing ************/

.title-box-proto {
  grid-area: title-box-proto;
}

.hi-fi-2 {
  grid-area: hi-fi-2;
}

.hi-fi-2-desk {
  grid-area: hi-fi-2-desk;
}

.hi-fi-2-mobile {
  grid-area: hi-fi-2-mobile;
}

.u-test-2 {
  grid-area: u-test-2;
}

.u-test-2-c1 {
  grid-area: u-test-2-c1;
}

.u-test-2-c1-img {
  grid-area: u-test-2-c1-img;
  padding: 0 5rem;
}

.u-test-2-c2 {
  grid-area: u-test-2-c2;
}

.u-test-2-c2-img {
  grid-area: u-test-2-c2-img;
  padding: 0 10rem;
}

.u-test-2-c3 {
  grid-area: u-test-2-c3;
}

.u-test-2-c3-img {
  grid-area: u-test-2-c3-img;
}

.u-test-2-c4 {
  grid-area: u-test-2-c4;
}

.u-test-2-c4-img {
  grid-area: u-test-2-c4-img;
  padding: 0 5rem;
}

.final-proto {
  grid-area: final-proto;
}

.final-proto-img {
  grid-area: final-proto-img;
}

/************ Conclusion ************/

.title-box-conclusion {
  grid-area: title-box-conclusion;
}

.conclusion-summary {
  grid-area: conclusion-summary;
}

.what-worked {
  grid-area: what-worked;
}

.what-kind-of {
  grid-area: what-kind-of;
}

.what-didnt {
  grid-area: what-didnt;
}

.screen-evolution {
  grid-area: screen-evolution;
}

.conc-1 {
  grid-area: conc-1;
}

.conc-2 {
  grid-area: conc-2;
}

.final-thoughts {
  grid-area: final-thoughts;
}

/************ Conclusion ************/

.footer-flex {
  grid-area: footer-flex;
}

/* @media screen and (min-width: 768px) {
  body {
   display: grid;
   grid-template-columns: 3fr 7fr 3fr;
   grid-template-areas:
   ".              navbar         ."
   ".             summary        ."
   " hero-img     hero-img      hero-img"
   ".             roles           ."
   ".              tools         ."
   "title-box-p title-box-p title-box-p"
   "extra-grey    problem        extra-grey-2"
   "title-box-s title-box-s title-box-s"
   ".               solution          ."
   "p-s-img     p-s-img       p-s-img"
   "title-box-disc title-box-disc title-box-disc"
   ".           comp-analysis-text       ."
   ".        comp-analysis-img          .";
  }
} */


@media (min-width: 1025px) {
  .navbar {
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-areas:
    ".     nav-flex  nav-flex    .";
  }

  .hero {
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-areas:
    ".       summary   summary      ."
    "hero-img hero-img hero-img hero-img"
    ".       roles      tools     . "
    "t-b-p-extra title-box-p title-box-s t-b-s-extra"
    "extra-grey      problem    solution    ."
    "p-s-img      p-s-img      p-s-img     p-s-img";

  }

  .comp-analysis-section{
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-areas:
    "title-box-disc title-box-disc title-box-disc title-box-disc"
    ".  comp-analysis-text comp-analysis-img .";
  }

  .grey-bg {
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-areas:
    ". u-research-text percentages .";
  }

  .u-persona-section {
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-areas:
    " .          user-persona-text user-persona-text ."
    "bryce        bryce      simon      simon"
    "title-box-info title-box-info title-box-info title-box-info"
    ".    u-stories-text    I-want          .";
  }

  .u-flows-section {
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-areas:
    ".    u-flows     u-flows-img   .";
  }

  .wireframes-section {
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-areas:
    ".         wireframes   wireframes-img   .";
  }

  .proto-1-section {
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-areas:
    ".   proto-1     proto-1-img     .";
  }

  .u-test-1-section {
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-areas:
    ".            u-test-1 u-test-1           ."
    ".   u-test-1-c1      u-test-1-c1-img     ."
    ".   u-test-1-c2-img      u-test-1-c2     ."
    ".   u-test-1-c3      u-test-1-c3-img     ."
    ".   u-test-1-c4      u-test-1-c4     ."
    "title-box-visual-design  title-box-visual-design title-box-visual-design  title-box-visual-design"
    ".     mind-map   mind-map-img    .";
  }

  .logo-section {
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-areas:
    ".   logo-1  logo-1  ."
    ". logo-sketch logo-sketch-digital  ."
    ".   logo-samples-text  logo-samples  ."
    ". typeface-text  typeface-examples  .";
  }

  .style-guide-section {
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-areas:
    ".    style-guide-text style-guide-img  .";
  }

  .hi-fi-1-section {
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-areas:
    ".    hi-fi-1    hi-fi-1    ."
    "hi-fi-1-desk hi-fi-1-desk hi-fi-1-desk  hi-fi-1-desk"
    "hi-fi-1-mobile hi-fi-1-mobile hi-fi-1-mobile  hi-fi-1-mobile";
  }

  .pref-test-section {
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-areas:
    ". pref-test pref-test-img   ."
    "title-box-proto   title-box-proto   title-box-proto   title-box-proto"
    ".  hi-fi-2    hi-fi-2  ."
    "hi-fi-2-desk  hi-fi-2-desk   hi-fi-2-desk   hi-fi-2-desk"
    "hi-fi-2-mobile   hi-fi-2-mobile  hi-fi-2-mobile   hi-fi-2-mobile";
  }

  .u-test-2-section {
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-areas:
    ". u-test-2 u-test-2."
    ". u-test-2-c1   u-test-2-c1-img  ."
    ".    u-test-2-c2-img  u-test-2-c2   ."
    ".   u-test-2-c3   u-test-2-c3-img   ."
    ".   u-test-2-c4-img  u-test-2-c4  .";
  }

  .final-proto-section {
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-areas:
    ". final-proto final-proto ."
    "final-proto-img  final-proto-img  final-proto-img  final-proto-img";
  }

  .conc-section {
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-areas:
    "title-box-conclusion  title-box-conclusion  title-box-conclusion  title-box-conclusion"
    ".  conclusion-summary   conclusion-summary ."
    ".  what-worked    conc-1  ."
    ".  what-kind-of  conc-2  ."
    ".  what-didnt conc-2   ."
    "screen-evolution  screen-evolution  screen-evolution  screen-evolution"
    ".  final-thoughts   final-thoughts .";
    ;
  }

  .footer {
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-areas:
    ".   footer-flex  footer-flex  .";
  }

  .extra-grey-2 {
    display: none;
  }

  .bryce {
    margin-right: 1rem;
  }

  .simon {
    display: grid;
    margin-left: 1rem;
  }

  .u-test-1-c1-img {
    grid-area: u-test-1-c1-img;
    padding: 0;
  }

  .u-test-1-c2-img {
    grid-area: u-test-1-c2-img;
    padding: 0 12rem;
  }

  .u-test-1-c3-img {
    grid-area: u-test-1-c3-img;
    padding: 0;
  }

  .u-test-2-c1-img {
    padding: 1rem 5rem;
  }

  .u-test-2-c2-img {
    padding: 1rem 8rem;
  }
}
