
@media screen and (min-width: 500px) {
  .about-rocketship {
    background-image: url(/images/Rocketship-down.svg);
  }
}

@media screen and (min-width: 600px) {
  .about-rocketship {
      background-image: url(/images/Rocketship-up.svg);
  }
}

@media screen and (min-width: 700px) {
  .about-rocketship {
    background-image: url(/images/Rocketship-down.svg);
  }
}

@media screen and (min-width: 800px) {
  .about-rocketship {
      background-image: url(/images/Rocketship-up.svg);
  }
}

@media screen and (min-width: 900px) {
  .about-rocketship {
    background-image: url(/images/Rocketship-down.svg);
  }
}

@media screen and (min-width: 1000px) {
  .about-rocketship {
      background-image: url(/images/Rocketship-up.svg);
  }
}

@media screen and (min-width: 1100px) {
  .about-rocketship {
    background-image: url(/images/Rocketship-down.svg);
  }
}

@media screen and (min-width: 1200px) {
  .about-rocketship {
      background-image: url(/images/Rocketship-up.svg);
  }
}

@media screen and (min-width: 1300px) {
  .about-rocketship {
    background-image: url(/images/Rocketship-down.svg);
  }
}

@media screen and (min-width: 1400px) {
  .about-rocketship {
      background-image: url(/images/Rocketship-up.svg);
  }
}

@media screen and (min-width: 1500px) {
  .about-rocketship {
    background-image: url(/images/Rocketship-down.svg);
  }
}

@media screen and (min-width: 1600px) {
  .about-rocketship {
      background-image: url(/images/Rocketship-up.svg);
  }
}

@media screen and (min-width: 1700px) {
  .about-rocketship {
      background-image: url(/images/Rocketship-down.svg);
  }
}

@media screen and (min-width: 1800px) {
  .about-rocketship {
      background-image: url(/images/Rocketship-up.svg);
  }
}

@media screen and (min-width: 1850px) {
  .about-rocketship {
      background-image: url(/images/Rocketship-down.svg);
  }
}

@media screen and (min-width: 1900px) {
  .about-rocketship {
      background-image: url(/images/Rocketship-up.svg);
  }
}
