* {
  box-sizing: border-box;
}

.all {
 display: grid;
 grid-template-columns: 1fr 10fr 1fr;
 grid-template-areas:
 ".             hero        ."
 ".             letter        ."
 ".            images         .";
}

.hero {
  grid-area: hero;
}

.letter {
  grid-area: letter;
}

.images {
  grid-area: images;
}

.border {
  border: .1rem solid #333333;
}

.fit {
  max-width: 500px;
}

.thinner {
  margin-left: auto;
  margin-right: auto;
}

.ps {
  font-size: 1.4rem;
}

@media screen and (min-width: 768px) {
  .all {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-areas:
    ".             hero        ."
    ".             letter        ."
    ".            images         .";
   }

  .fit {
    max-width: 600px;
  }
}

@media (min-width: 1025px) {
  .all {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-areas:
    ".             hero        ."
    ".             letter        ."
    ".            images         .";
   }

  .fit {
    max-width: 800px;
  }


}

@media screen and (min-width: 1140px) {
  .all {
    display: grid;
    grid-template-columns: 1fr 1fr 4fr 1fr 1fr;
    grid-template-areas:
    ".        hero     hero   hero     ."
    ".         .    letter    .    ."
    ".      images      images    images     .";
   }

}
