/* red: #E53345 */
/* dark red: #B22836 */

/* Typography */

* {
  box-sizing: border-box;
  /* display: grid; */
}

h1, h2, h3, h4, h5, h6, p, a, li, figcaption, button {
  color: #444444;
  font-family: "Raleway";
  text-align: center;
}

html {
  font-size: 10px;
  margin: auto;
}

.container {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  margin: 0 auto;
  width: 85%;
}

.hero {
  display: grid;
  grid-template-a÷reas: "roles" "tools";
}

/* .roles {
  grid-area: roles;
}

.tools {
  grid-area: tools;
} */

body {
  margin: auto;
}

p {
  font-size: 1.6rem;
  line-height: 1.6em;
  text-align: left;
  padding: 0 0 10px 0;
}

h1 {
  font-size: 4.5rem;
  font-weight: 900;
  padding-top: 50px;
}

h2 {
  font-size: 3.2em;
  text-transform: uppercase;
}

h3 {
  font-size: 2.24em;
  margin: 3rem 0 1rem 0;
  text-transform: uppercase;
}

h4 {
  font-size: 1.8rem;
  margin-top: -1rem;
}

h5 {
  font-size: 1.6rem;
  font-weight: 700;
  margin: 2rem 0;
}

h6 {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 1rem auto;
  text-align: center;
  text-transform: uppercase;
}

li {
  font-size: 1.6rem;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: #65353A;
}

a:hover {
  color: #B22836;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

figcaption {
  font-size: 1.6rem;
  margin-top: 1rem;
}

/* Structure */


/* Navbar */

.navbar {
  background-color: #ffffff;
  margin: auto;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.navbar-contents {
  border-bottom: 1px solid #444444;
  height: 5rem;
  margin: auto;
  width: 85%;
}

.logo {
  width: 4rem;
  float: left;
  padding: 1rem 1rem 1rem 0;
}
.navbar-links {
  float: right;
  height: 5rem;
}

.navbar-links a {
  color: #E53345;
  display: block;
  float: right;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1.5rem 0 1.5rem 1.5rem;
  text-align: center;
}

.navbar-links a:link {
  color: #E53345;
}

a:visited {
  color: #E53345;
}

a:hover {
  color: #B22836;
}

button {
  background-color: #E53345;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  height: 3.6rem;
  justify-content: center;
  margin: 2rem auto;
  text-align: center;
  text-transform: uppercase;
  width: 20rem;
}

.title-box {
  background-color: #B22836;
  display: table;
  height: 1.3rem;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  margin-top: 8rem;
  position: relative;
  width: 100vw;
}

.title {
  color: #ffffff;
  display: table-cell;
  vertical-align: middle;
  max-width: 30rem;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
  position: relative;
  width: 100vw;
}

/* Images */

.full-width {
  left: 50%;
  right: 50%;
  margin: 20px -50vw;
  position: relative;
  width: 100vw;
}

.image-border {
  border: 2px solid #c4c4c4;
}

.half-width {
  display: block;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 40px auto 0 auto;
  /* width: 85%; */
}

figure {
  margin: 0;
}

img {
  margin: 0;
}

.align-center {
  text-align: center;
}

.roles li, .tools li {
  font-size: 1.8rem;
}

.roles {
  margin-bottom: 80px;
}

.tools {
  border-top: 1px solid #444444;
}



.padding-top {
  padding-top: 10px;
}

.unit {
  margin-bottom: 50px;
}

.background {
  background-color: #f0f0f0;
  display: table;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  position: relative;
  padding: 10px 0 40px 0;
  width: 100vw;
}

.contents {
  margin: auto;
  text-align: center;
  width: 85%;
}

.solution {
  margin-top: -80px;
}

.percentages {
  background-color: #ffffff;
  border: 6px solid #B22836;
}

.percentages h3, .percentages h2, .percentages p {
    color: #B22836;
}

.percentages h2 {
  margin: 0;
}

.percentages p {
  margin: 0 0 20px 0;
  text-align: center;
}

.persona {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.simon {
  display: none;
}

.I-want h3, .I-want li {
  color: #B22836;
}

.I-want li {
  font-size: 1.8rem;
  line-height: 1.6em;
}

.rale {
  text-transform: capitalize;
}

.merri {
  font-family: "Merriweather";
  text-transform: capitalize;
}

.usability-change {
  border-top: 1px solid #B22836;
  font-size: 1.6rem;
  padding-top: 20px;
  padding-bottom: -10px;
  margin-bottom: -10px;
  /* text-align: left; */
}

.usability-list {
  margin-top: 2rem;
}

.usability-list li {
  text-align: left;
}

.conclusion-title {
  margin-top: 4rem;
}

.final-caption {
  margin-top: -1rem;
}

/* Footer */

footer {
  margin: auto;
  overflow: hidden;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;;
}

.footer-contents {
  background-color: #ffffff;
  border-top: 1px solid #444444;
  bottom: 0;
  height: auto;
  margin: 4rem auto 0 auto;
  overflow: hidden;
  text-align: center;
}

.icon {
  /* height: auto; */
  padding: 2rem 1.5rem;
  width: 5.5rem;
}

.content-half {
  display: grid;
  grid-template-columns: 1fr;
}

/* For Tablets */

@media screen and (min-width: 768px) {
  .container {
    width: 50rem;
  }

  .navbar-contents {
    width: 50rem;
  }

  .contents {
    width: 50rem;
  }
}

/* For Computer Screens */

@media screen and (min-width: 1025px) {
  .container {
    display: grid;
    margin: 0 auto;
    width: 60%;
    max-width: 104rem;

  }

  .navbar-contents {
    width: 104rem;
  }

  .contents {
    width: 104rem;
  }

  .content-half {
    display: grid;
    grid-template-columns: 2fr;
  }

  p {
  font-size: 1.8rem;
  }

  .text, .align-center, .content-half {
    width: 52rem;
  }

  .align-center {
    text-align: center;
    margin: auto;
  }

  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "summary summary"
    "roles   tools";
    width: 104rem;
    margin: 0 auto;
  }

  .summary {
    grid-area: summary;
  }

  .roles {
    grid-area: roles;
  }

  .tools {
    border-left: 1px solid #444444;
    border-top: none;
    grid-area: tools;
  }

  .problem-solution {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "title-box-problem title-box-solution"
    "problem solution";
    width: 104rem;
    margin: 0 auto;
  }

  .title-box-problem {
    grid-area: title-box-problem;
    /* left: 0; */
    margin-left: calc(100vw-30rem);
  }

  /* .title-box-solution {
    grid-area: title-box-solution;
    margin-right: 0;
    right: 0;
  } */

  .title-box-half {
    width: 50vw;
  }



  /* .title-box {
    background-color: #B22836;
    display: table;
    height: 130px;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-top: 8rem;
    position: relative;
    width: 100vw;
  } */

  /* .title {
    color: #ffffff;
    display: table-cell;
    vertical-align: middle;
    max-width: 30rem;
    margin: 0 auto;
    padding: 0 2rem;
    text-align: center;
    position: relative;
    width: 100vw;
  } */

  .disc-and-research {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "comp-analysis-text comp-analysis-img"
    " user-research-text percentages"
    "user-person-text user-person-text";
    width: 60rem;
    margin: 0 auto;
  }

  .comp-analysis-text {
    grid-area: comp-analysis-text;
  }

  .comp-analysis-img {
    grid-area: comp-analysis-img;
    width: 20rem;
  }

  .user-research-text {
    grid-area: user-research-text;
  }

  .percentages {
    grid-area: percentages;
  }

  .user-person-text {
    grid-area: user-persona-text;
  }


}
